.main{
    display: flex;
    flex-direction: column;
    max-width:100%;
    justify-content: center;
    align-items: center;
}

.groupDetail{
    display: flex;
    flex: row;  
    padding-left: 200px; 
    padding-bottom: 50px;
}



.title{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 24px;
    color: #212121;
    font-weight: bold;
    padding-bottom: 20px;
} 

.navItems{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
   
}

.navigationMenu{
    display:flex;
    flex-direction: row;
    align-items: left;
    
}

.cityState{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: #212121;
    font-size: 14px;
    padding-bottom: 10px;
}

.groupImage{
    display:flex;
    width: 600px;
    height: 376px;
    border-radius: 10px
}

.organized{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: #212121;
    font-size: 14px;
}

.members{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: #212121;
    font-size: 14px;
    padding-bottom: 5px;
}

.detailText{
    display: flex;
    flex-direction: column;
    padding-left:20px;
}

.divider{
    min-width: 100%;
    border-color: 1 px solid rgba(128, 128, 128,0.8);
    
}

.about{
    text-decoration: none;    
    font-family: Roboto,Helvetica,Arial,sans-serif;
    padding: 0px 40px 0px 0px;
    font-size: 16px;
    color: #2E3E48;
    cursor: pointer;    
}

.about:focus{
    color: #007aff;
}

.about:hover{
    color: rgb(151, 202, 209);
 }


.event{
    text-decoration: none;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    padding: 0px 40px 0px 0px;
    font-size: 16px;
    color: #2E3E48;
    cursor: pointer;
}

.event:hover{
    color: rgb(151, 202, 209);
 }

.update{
    text-decoration: none;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    padding: 0px 40px 0px 0px;
    font-size: 16px;
    color: #2E3E48;
    cursor: pointer;
}
.update:hover{
    color: rgb(151, 202, 209);
 }

.delete{
    text-decoration: none;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    padding: 0px 40px 0px 0px;
    font-size: 16px;
    color: #2E3E48;
    cursor: pointer;
}

.delete:hover{
    color: rgb(151, 202, 209);
 }

.groupDesc{
    max-width: 800px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color:#212121;
    font-size: 16px;
    padding-top:45px;
    padding-bottom: 45px;
}

.createEvent{
    color: white;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    background-color:#f65858;  
    margin-right: 20px;  
    padding-left:10px;
}

.createEvent:hover{
    background-color:rgba(246, 88, 88,0.8);
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color:white;
    cursor: pointer;
}

.createVenue{
    color: white;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    background-color:#f65858;    
    padding-left:10px;
}

.createVenue:hover{
    background-color:rgba(246, 88, 88,0.8);
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color:white;
    cursor: pointer;
}


/* .main{
    display:flex;
    width: 80%;
    justify-content: center;

    justify-content: flex-end;


}

.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.groupDetail{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    padding-bottom: 40px;
}

.divider{
    width:100%;
}

.groupImage{
    display:flex;
    width: 600px;
    height: 376px;
    border-radius: 10px
}

.imageDiv{
   display: flex;
   flex-direction: row;
   padding-right:20px;
   justify-content: right;  
}

.groupName{
    font-size: 32px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: bold;
}

.cityState{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400px;
}

.members{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400px;
}

.organizedB{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    
}

.groupMenu{
    display:flex;
    flex-direction: row;
    justify-content:safe;
    align-items: left;   
}

.event{
  
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    color:black;
    padding-right:20px;
}

.event:hover{
    color: rgb(151, 202, 209);
}

.about{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: black;
    padding-right:20px;
}

.about:hover{
   color: rgb(151, 202, 209);
}
.delete{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: black;
    padding-left:20px;
    padding-right:20px; 
    
}

.delete:hover{
   color: rgb(151, 202, 209);
}

.update{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: black;
   
    
}
.update:hover{
    color: rgb(151, 202, 209);
 }
 

.navLinkDeleteUpdate{
    padding-left:10px;
}


.edit{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: black;
}

.edit:hover{
   color: rgb(151, 202, 209);
}

.innerMenu{
    display: flex;
    flex-direction: row; 

}

.tabs{
    display:flex;
    flex-direction: row;   
    padding-left: 20px;
    padding-right: 20px;
    
}


.joinGroup{
    color: white;
    background-color:#f65858;  
    font-family: Roboto,Helvetica,Arial,sans-serif; 
  
}

.joinGroup:hover{
    background-color:rgba(246, 88, 88,0.8);
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color:white;
    cursor: pointer;
}

.createEvent{
    color: white;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    background-color:#f65858;    
    padding-left:10px;
}

.createEvent:hover{
    background-color:rgba(246, 88, 88,0.8);
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color:white;
    cursor: pointer;
}

.createVenue{
    color: white;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    background-color:#f65858;    
    padding-left:10px;
    margin-left: 10px;;
}

.createVenue:hover{
    background-color:rgba(246, 88, 88,0.8);
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color:white;
    cursor: pointer;
}

.dropDown{
    
    font-family: Roboto,Helvetica,Arial,sans-serif;
    cursor: pointer; 
    
  } */