.main-meetup-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 25px;
    padding-top: 10px;
    height:50px;
    position: relative;
    border: 0.5px solid;
    margin-bottom: 50px;
    /* margin: top -20px; */
    background-color: white;
    border-color: lightgray;
}
.imgs{
    display:flex; 
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    height:35px;
    width:95px;   
}
.container-image{
    background-color: white;
    border-radius: 150px;
    align-items: center;
    display: flex;
    height: 25px;
    width: 20px;
}
.link-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    justify-content: space-around;   
}
.navigate-link{
    text-decoration: none;     
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color:black;
    font-size: 16px;
    color:#212121;
    font-style:normal;
    font-weight: 550;
 }
 
.navigate-link:hover{
   text-decoration: none; 
   color:#0070f3;
}

.profile-dropdown-main{
    display: grid;
    position:relative;   
}

.div-dropdown{
  position: absolute;
  top: 100%;
  /* left: -195%; */
  border-radius: 8px;
  min-width: 190px;
  padding-top: 20px;
  margin-top: 10px;
  z-index: 52;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 3px 3px 3px rgba(0,0,0,.1);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height:200px;
  margin-right: 10px;
  justify-content: space-around;
  padding-left: 10px;
  justify-content: left;  
}

.dropdown-link{
    text-decoration: none; 
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: black;
    
}

.dropdown-link:hover{
    text-decoration: none; 
    color:#008294;
    font-size: 14px;
}

.nav-dropdown{
  background-color:rgb(151, 202, 209);
  width: 10px;
  height: 10px;
  color: black;
  border: black 1px solid;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 50%;  
}

.arrowIcon{
    cursor: pointer;
}
.login-elements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    margin-right: 10px;
}

.start-a-group{
    text-decoration: none;
    color:black;
    font-family: Roboto,Helvetica,Arial,sans-serif; 
    padding-right: 10px;
    font-size: 16px;
    font-weight: 540;
    text-rendering: optimizeLegibility;
    margin:-2px 0px 0px;
    letter-spacing: -1px;
    
    
}

.start-a-group:hover{
    color:#008294;
    text-rendering: optimizeLegibility;
    font-family: Roboto,Helvetica,Arial,sans-serif; 
    padding-right: 10px;
    font-size: 16px;
    font-weight: 540;
    margin:-2px 0px 0px;
}