
.main{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    display:flex;
    /* width: x; */
    padding: 20px 20px 20px 20px;
    
}
.sub-main{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 25%;
    box-shadow: 8px 8px 8px 8px rgb(207,207,207);
    padding-top: 0px;
    border-radius: 8px;
    

}
.logo-login{
    height:50px;
    width:50px;
    border-radius: 130px;
}
li{
    color:red;
}

.login-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title{
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 20px;
}
input{
    width: 250px;
    height:30px;
    border-radius: 8px;
    justify-content: center;
}

.login-button{
    align-items: center;
    justify-content: center; 
    width:255px;
    height:35px;
    border-radius: 8px;
    background-color:#f65858;
    
    color:white;
    font-size:20px;
    border:none;
}
.login-button-div{
    display: flex;
    padding-top: 20px;
}

.not-a-amember{
    font-family: Helvetica, Arial, Sans-Serif;
    
}
.login-label{
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 16px;
    font-weight: 500;
    font-family: Helvetica, Arial, Sans-Serif;
    text-align: left;
}
.login-sub-div{
    display: grid;
    grid-template-rows: auto;
    margin: 8px;
}
.login-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-link{
    text-decoration: none; 
    font-family: Helvetica, Arial, Sans-Serif;
    color:#0070f3;
}
