
.main-login{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom:20px;   
    border-radius: 0.5rem;
    
}

.sub-main-login{
    display: flex;
    flex-direction: column;    
    justify-content: space-evenly;
    align-items: center;
    height: 800px;    
    width: 400px;    
    border-radius: 0.5rem;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
   
}

.logo-login{
    height:50px;
    width:50px;
    border-radius: 130px;
}

.notMember{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
}

.li-login{
    color:red;
    text-align: left;
}

.login-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-title{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 20px;
}

.input-login{
    width: 300px;
    height:30px;
    border-radius: 8px;
    justify-content: center;
    border-color: rgba(230,230,230,0.2);
}
.input-login:focus{   
    outline: none !important;
    border-color:rgba(59,130,246,.5);
}
.login-button{
    align-items: center;
    justify-content: center; 
    width:300px;
    height:35px;
    border-radius: 8px;
    background-color:#f65858;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    cursor: pointer;
    color:white;
    font-size:20px;
    border:none;
}
.login-button:hover{
    background-color:rgba(246, 88, 88,0.8);
    font-family: Roboto,Helvetica,Arial,sans-serif;
    cursor: pointer;
}
.login-button-div{
    display: flex;
    padding-top:15px;
}

.not-a-amember-login{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.login-label{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    text-align: left;
}
.login-sub-div{
    display: grid;
    grid-template-rows: auto;
    /* margin: 10px; */
}
.login-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-link{
    text-decoration: none; 
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color:#008294;
}

.errorMessageLi{
    color: #f65858;
    text-decoration: none;
    text-align: left;    
}

.errorDiv{
    font-size: 14px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: normal;
}

.errorMessageUl{ 
    list-style-type: none;    
    list-style:none;
    padding-left:0;
    text-align: left;
}