.home-user-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.sub-div{

    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 30px;

}

.groups{
    display: flex;
    flex-direction: row;
    justify-content: center;
}