.container{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width:100%;
    margin: auto;
    margin:auto;
    padding: none;
    justify-content: center;
    align-items: center;
    
}

.mainDiv{
    display:flex;
    flex-direction: column;
    min-width: 60%;
    align-items: left;
    
    
}

.title{
    font-size: 30px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight:bold;

}

.date{
    font-size: 16px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: #757575;
}

.body{
    /* min-width:100%; */
    /* background-color: #F5F5F5; */
    padding-top: 40px;
    align-items: center;
    justify-content: center;
}

.middle{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-bottom:10px;
   
}

.displayImage{
    display:flex;
    width: 600px;
    height: 376px;
    border-radius: 10px
}

.navigationMenu{
    display:flex;
    flex-direction: row;
}

.bottom{
    display: flex;
    flex-direction: row;
    min-width: 60%;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.desc{
    max-width: 800px;
    min-width: 60%;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color:#212121;
    font-size: 16px;
    padding-top:45px;
    padding-bottom: 45px;
   

    /* max-width: 200px; */
}

.hostedText{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
}

.hostedName{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.groupName{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.type{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #757575;
}

.about{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    text-decoration: none;
    padding-right: 20px;
   
    color: #212121;
}

.about:hover{
    color: rgb(151, 202, 209);
}

.divider{
    display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0;
}

.update{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    text-decoration: none;
    padding-right: 20px;
    color: #212121;
}

.update:hover{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    text-decoration: none;
    
    color: rgb(151, 202, 209);
}

.delete{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: #212121;
}

.delete:hover{
    color: rgb(151, 202, 209);
}

.rightBlock{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    min-width: 200px;
}

.eventDate{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    padding-top: 20px;

}

.eventVenue{
    padding-top:20px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: #212121;
    font-size: 14px;

}

.confirmDelete{
    display:flex;
    flex-direction: row;
}

.manageEvents{
    display:flex;
    flex-direction: row;
}

.button{
    align-items: center;
    justify-content: center; 
    width:120px;
    height:24px;
    border-radius: 7px;
    background-color:#f65858;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    cursor: pointer;
    color:white;
    font-size:14px;
    border:none;
}

.button:hover{
    background-color:rgba(246, 88, 88,0.8);
    font-family: Roboto,Helvetica,Arial,sans-serif;
    cursor: pointer;
}