.home-guest-main-div{
    display: flex;
    /* 1align-items: center; */
    width: 80%;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
}

.sub-div-guest-view{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

@media screen and (min-width: 577px) {
    .home-guest-main-div{
        flex-direction: row;
    }
    
}

.guest-view-p {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 16px;
    font-weight: 100;
}

.left-intro-div{
    width:50%;    
}
.right-intro-div{
    width:50%;    
}
.intro-image{
    width:600px;
    height:300px;
}