.home-guest-main-div{
    display: flex;
    max-width: 80%;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
}

.sub-div-guest-view{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    max-width: 80%;
}

@media screen and (min-width: 577px) {
    .home-guest-main-div{
        flex-direction: row;
    }
    
}

/* .items-center {
    align-items: center;
} */
.guest-view-p {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.left-intro-div{
    margin: 0px 20px 0px 0px;   
}
.right-intro-div{
    width:50%;    
}
.intro-image{
    width:600px;
    height:300px;
}