.main{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: var(--main-div-width);
}

.pageHeading{
    display: flex;
    flex-direction: row;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    min-width: 640px;
    font-size: 20px;
    font-weight: bold; 
    padding-bottom: 20px;
    
}
.event{
  
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color:#008294;
    border-bottom: 3px solid;
}


.links{
    text-decoration: none;
    color: #757575;

}

