/* TODO Add site wide styles */
body{
    margin: 0px;
    max-width:100%;
    min-height: 900px;
    

}

.page-container{
    min-height: 100vh;
    position: relative;
    
    
}

.content-wrap{
    flex:1;     
}

.footer{
    display:flex;
    flex-direction: row;
    max-width: 100%;
    min-height: 40vh;
    background-color: black;
    justify-content:center;
    align-items:center;
    
}

.navigationStyle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}