.main{
    text-align: center;
    justify-content: center;
    display:flex;
    width: 1024px;
    padding: 90px 0 90px 0;
    background-color: rgb(252, 252, 252);
}
.sub-main{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 35%;
    box-shadow: 8px 8px 8px 8px rgb(207,207,207);
    padding-top: 2px;
    border-radius: 8px;
    background-color: white;

}
.imgs{
    padding-top:20px;
    justify-content: center;
    display:flex;    
}
.container-image{
    background-color: white;
    border-radius: 150px;
    align-items: center;
    display: flex;
    height: 50px;
    width: 50px;
}
.login{
    height:80px;
    width:80px;
    border-radius: 130px;
    

}
.login-title{
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 28px;
}
input{
    width: 250px;
    height:30px;
    border-radius: 8px;
    justify-content: center;
}

.login-button{
    align-items: center;
    justify-content: center; 
    width:255px;
    height:35px;
    border-radius: 8px;
    background-color:#f65858;
    
    color:white;
    font-size:20px;
    border:none;
}
.login-button-div{
    display: flex;
    padding-top: 20px;
}
.email-div{
    display:flex;
    flex-direction: column;    
    justify-content: center;  
}
.email{    
    font-size: 16px;
    font-weight: 550;
    display: flex;
    justify-content: right;
    align-items: right;
    
}
.pass-div{
    display:flex;
    flex-direction: column; 
    font-family: Helvetica, Arial, Sans-Serif;
    justify-content: center;
    
}
.pass{
    font-size: 16px;
    font-weight: 550;
    font-family: Helvetica, Arial, Sans-Serif;
    display: flex;
}
.login-checkbox-div{
    display: flex;
    flex-direction: row;
    align-items: left;       

}
.login-check{
    display:flex;
    width: 20px;
  
}
.not-a-amember{
    font-family: Helvetica, Arial, Sans-Serif;
}