.main-signup{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom:20px;   
    border-radius: 0.5rem;
}

.sub-main-signup{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    height: 800px;    
    width: 400px;  
    padding:0px 50px 0px 50px;
    
    
    border-radius: 0.5rem;
    background-color: white;
    
}

.signup-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-signup{
    height:50px;
    width:50px;
    border-radius: 130px;
}
.login-title-signup{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 24px;
}

.input-signup{
    width: 300px;
    height: 30px;
    border-radius: 0.5rem;
    border-color: rgba(230,230,230,0.2);
    
    justify-content: center;
}

.input-signup:focus{
    outline: none !important;
    border-color:rgba(59,130,246,.5);
}

.error-message-signup{
    color:red;
    text-align: left;
}

.login-button-signup{
    align-items: center;
    justify-content: center; 
    width:300px;
    height:35px;
    border-radius: 8px;
    background-color:#f65858;
    
    color:white;
    font-size:20px;
    
    border:none;
}
.login-button-div-signup{
    display: flex;
    padding-top: 20px;
}
.email-div-signup{
    display:flex;
    flex-direction: column;    
    justify-content: left;  
}
.signup-label{
    font-family: Roboto,Helvetica,Arial,sans-serif;;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    text-align: left;
}
.sub-div-signup{
    display: grid;
    grid-template-rows: auto;
    margin: 8px;
}

.signup-errorMessageLi{
    color: #f65858;
    text-decoration: none;
    text-align: left;    
}

.signup-errorDiv{
    font-size: 14px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: normal;
}

.signup-errorMessageUl{ 
    list-style-type: none;    
    list-style:none;
    padding-left:0;
    text-align: left;
}