

.eventsHeading{
    font-size: 30px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight:bold;
    letter-spacing: -1px;
}

.name{
    color: #212121;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight:bold;
    padding-bottom: 5px;;
}

.divider{
    display: block; height: 1px;
    border: 0; border-top: 1px solid rgba(177, 177, 177,0.6);
    margin: 1em 0; padding: 0;
}


.discription{
    color: #757575;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;  
    max-width:450px;
    
   
}

.numAttending{
    font-size: 14px;
    color: #757575;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    padding-top: 20px;
}

.subDiv{
    display:flex;
    flex-direction: column;
    min-width: 800px;
    padding-bottom: 20px;
    padding-top: 20px;
    /* max-width: 200px; */
    /* align-items: center; */
}

.middleDiv{
    display:flex;
    flex-direction: row;
    padding-bottom: 20px;
    cursor: pointer;
    
    
}

.date{
    font-size: 16px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color: #757575;
    padding-bottom: 5px;
}

.body{
    min-width:100%;
    background-color: #F5F5F5;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
}
.middle{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-bottom:10px;
   
}

.image{
    border-radius: 8px;
    width: 180px;
    height: 180px;
}

.displayImage{
    /* width: 200px; */
    /* height: 200px;   */
    padding-right:20px;
}

