.dot {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 40px;
    
    padding: 50px;
    background: rgb(151, 202, 209);
    border: 8px solid #666;
    color: rgba(0, 0, 0,0.5);
    text-align: center;
    font: 150px Arial, sans-serif;    
}
.profile-main-div{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 

}
.dSpan{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:px;
}
.profile-sub-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
}
h1{
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 2.625rem;
  font-weight: 700;
}
h3{
  font-family: Roboto,Helvetica,Arial,sans-serif; 
}
.profile-pic-large{
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-right: 10px;
}