.container{
    display: flex;
    flex-direction: column;;
    align-items: center;
  }
  
  .border{
    border-bottom: 0.5px solid black;
    min-width:80%;
    
  }
  
  .content {
    padding: 0 10px 0 10px;
  }